:root {
    color-scheme: dark;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

@supports not (color-scheme: dark) {
    body {
        background: #121212;
    }
}

div.split-view {
    width: 100%;
    height: 100%;
    display: flex;
}

div.split-view>*:not(:last-child) {
    margin-right: 0.3rem;
}

div.split-view #editor,
div.split-view .output {
    display: flex;
    width: 50%;
    overflow: auto;
    flex-direction: column;
}

div.split-view #editor .cm-editor {
    flex: 1;
    outline: none;
    overflow: inherit;
}

div.split-view .output pre {
    flex: 1;
    margin: 0;
    padding: 4px 2px 4px 6px;
}

@media (max-width: 767px) {
    div.split-view {
        flex-direction: column;
    }

    div.split-view #editor,
    div.split-view .output {
        width: 100%;
        height: 50%;
    }

    div.split-view>*:not(:last-child) {
        margin-bottom: 0.3rem;
    }
}

div.split-view .output {
    position: relative;
}

div.split-view .output #checkbox {
    position: absolute;
    top: 4px;
    right: 2px;
}

div.split-view .output .checkbox-label {
    position: absolute;
    top: 3px;
    right: 24px;
    font-size: 12px;
    color: #abb2bf;
    line-height: 20px;
}

div.split-view .output #checkbox:checked+.checkbox-label .syntax,
div.split-view .output #checkbox+.checkbox-label .definition {
    display: none;
}

div.split-view .output #checkbox+.checkbox-label .syntax,
div.split-view .output #checkbox:checked+.checkbox-label .definition {
    display: inline;
}

div.split-view .output #syntax,
div.split-view .output #definition {
    flex: 1;
}

div.split-view .output #checkbox:checked~#syntax,
div.split-view .output #checkbox~#definition {
    display: none;
}

div.split-view .output #checkbox~#syntax,
div.split-view .output #checkbox:checked~#definition {
    display: flex;
    flex-direction: column;
}

.cm-completionInfo,
.cm-tooltip-section {
    font-family: monospace;
}

.cm-tooltip-section {
    padding: 3px 8px;
    white-space: pre-wrap;
}

.tok-keyword {
    color: #c678dd;
}